body .card.factory-card-danger {
    background-color: #dc3545 !important;
    color: white !important;
}

body .card.factory-card-success {
    background-color: #198754 !important;
    color: white !important;
}

body .card.factory-card-primary {
    background-color: #0d6efd !important;
    color: white !important;
}

body .card.factory-card-info {
    background-color: #0dcaf0 !important;
    color: white !important;
}

body .table .table-header-danger {
    background-color: #dc3545 !important;
    color: white !important;
}

body .table .table-header-success {
    background-color: #198754 !important;
    color: white !important;
}

body .table .table-header-primary {
    background-color: #0d6efd !important;
    color: white !important;
}

body .table .table-header-info {
    background-color: #0dcaf0 !important;
    color: white !important;
}

/* Styles for clickable table rows */
.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f5f5f5; /* A light grey hover effect */
}

/* Dark mode adjustment for hover effect */
[data-bs-theme="dark"] .clickable-row:hover {
    background-color: #2c3034; /* A darker grey for dark mode */
}
