{% extends "base.html" %}
{% load static %}

{% block title %}
Valves Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}



    <div class="mt-5">
        <h2>Factories</h2>
        <div class="row">
        {% for factory in main_factories %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 factory-card-{{ factory.get_color }}">
                    <div class="card-header">
                        <h3>{{ factory.name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{% url 'valves:valve-list-frontend' %}?factory={{ factory.name|slugify }}&color={{ factory.get_color }}" class="text-decoration-none">
                                    <div class="card text-center shadow-sm mb-3 h-100">
                                        <div class="card-body">
                                            <i class="fas fa-water fa-3x text-primary mb-3"></i>
                                            <h5 class="card-title">Total Valves</h5>
                                            <p class="card-text fs-2 fw-bold">{{ factory.total_valves }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url 'valves:valve-list-frontend' %}?factory={{ factory.name|slugify }}&status=Operational&color={{ factory.get_color }}" class="text-decoration-none">
                                    <div class="card text-center shadow-sm mb-3 h-100">
                                        <div class="card-body">
                                            <i class="fas fa-check-circle fa-3x text-success mb-3"></i>
                                            <h5 class="card-title">Operational</h5>
                                            <p class="card-text fs-2 fw-bold">{{ factory.operational_valves }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url 'valves:valve-list-frontend' %}?factory={{ factory.name|slugify }}&status=Needs+Maintenance&color={{ factory.get_color }}" class="text-decoration-none">
                                    <div class="card text-center shadow-sm h-100">
                                        <div class="card-body">
                                            <i class="fas fa-exclamation-triangle fa-3x text-warning mb-3"></i>
                                            <h5 class="card-title">Needs Maintenance</h5>
                                            <p class="card-text fs-2 fw-bold">{{ factory.needs_maintenance_valves }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        {% if zld_factory %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card h-100 factory-card-{{ zld_factory.get_color }}">
                        <div class="card-header">
                            <h3>{{ zld_factory.name }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="{% url 'valves:valve-list-frontend' %}?factory={{ zld_factory.name|slugify }}&color={{ zld_factory.get_color }}" class="text-decoration-none">
                                        <div class="card text-center shadow-sm mb-3 h-100">
                                            <div class="card-body">
                                                <i class="fas fa-water fa-3x text-primary mb-3"></i>
                                                <h5 class="card-title">Total Valves</h5>
                                                <p class="card-text fs-2 fw-bold">{{ zld_factory.total_valves }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'valves:valve-list-frontend' %}?factory={{ zld_factory.name|slugify }}&status=Operational&color={{ zld_factory.get_color }}" class="text-decoration-none">
                                        <div class="card text-center shadow-sm mb-3 h-100">
                                            <div class="card-body">
                                                <i class="fas fa-check-circle fa-3x text-success mb-3"></i>
                                                <h5 class="card-title">Operational</h5>
                                                <p class="card-text fs-2 fw-bold">{{ zld_factory.operational_valves }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'valves:valve-list-frontend' %}?factory={{ zld_factory.name|slugify }}&status=Needs+Maintenance&color={{ zld_factory.get_color }}" class="text-decoration-none">
                                        <div class="card text-center shadow-sm h-100">
                                            <div class="card-body">
                                                <i class="fas fa-exclamation-triangle fa-3x text-warning mb-3"></i>
                                                <h5 class="card-title">Needs Maintenance</h5>
                                                <p class="card-text fs-2 fw-bold">{{ zld_factory.needs_maintenance_valves }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


</div>
{% endblock %}